name: Latest blog post workflow

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  update-readme-with-blog:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: gautamkrishnar/blog-post-workflow@v1.7.0
        with:
          feed_list: "https://jimmyhuy.substack.com/feed"
          max_post_count: 5
